@import url('https://fonts.googleapis.com/css2?family=Khmer&family=Noto+Sans+Khmer&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Khmer', sans-serif;
}

.keyboard {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    grid-row-gap: 10px;
    background-color: #707070;
}

.keyboard .row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
    grid-column-gap: 10px;
}

.keyboard .row-2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.keyboard .row-3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-column-gap: 10px;
}

.keyboard .row-4 {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.5fr;
    grid-column-gap: 10px;
}

.keyboard .row-5 {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 6fr 1fr 1fr 1fr 1.5fr;
    grid-column-gap: 10px;
}

.key {
    background-color: black;
    color: white;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 0;
}

.key .kh-label {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.key:hover {
    color: #aaa;
}