@import url('https://fonts.googleapis.com/css2?family=Khmer&family=Noto+Sans+Khmer&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Khmer', sans-serif;
}

.keyboard {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    grid-row-gap: 10px;
    background-color: #707070;
}

.keyboard .row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
    grid-column-gap: 10px;
}

.keyboard .row-2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.keyboard .row-3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-column-gap: 10px;
}

.keyboard .row-4 {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.5fr;
    grid-column-gap: 10px;
}

.keyboard .row-5 {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 6fr 1fr 1fr 1fr 1.5fr;
    grid-column-gap: 10px;
}

.key {
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 0;
}

.key .kh-label {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.key:hover {
    color: #aaa;
}

.text-input-container {
    width: 100%;
    margin: 1rem 0;
}

.text-input {
    width: 100%;
    outline: none;
    border: none;
    background-color: #eee;
    border-radius: 10px;
    color: black;
    font-size: 24px;
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .keyboard {
        grid-row-gap: 2px;
        padding: .2rem;
    }

    .key {
        padding: 5px 0;
        border-radius: 5px;
    }

    .key .kh-label {
        font-size: 10px;
    }

    .keyboard .row-1 {
        grid-column-gap: 2px;
    }

    .keyboard .row-2 {
        grid-column-gap: 2px;
    }

    .keyboard .row-3 {
        grid-column-gap: 2px;
    }

    .keyboard .row-4 {
        grid-column-gap: 2px;
    }

    .keyboard .row-5 {
        grid-column-gap: 2px;
    }
}